.scroll-area {
    overflow-y: auto;
    color: #00000000;
    transition: color ease-out .1s;
    transition-delay: 2s;

    -webkit-text-fill-color: black;
}

.scroll-area:hover {
    color: #666666FF;
    transition: color ease-in .1s;
}
.scroll-area::-webkit-scrollbar {
    width: 14px;
}

.scroll-area::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 7px;
    box-shadow: inset 0 0 0 10px;
}

.scroll-area::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.container::-webkit-scrollbar-corner {
    background-color: transparent;
}
